html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.course-container {
    display: flex;
    gap: 20px;
}

.course-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.course-img {
    width: 100%;
    border-radius: 8px;
}

.profile-avatar {
    width: 120px;
    border-radius: 50%;
}

.instructor-img {
    width: 80px;
    border-radius: 50%;
}